
// Colours
$yellow:#ef9d33;
$red: rgb(217, 86, 86);
$midred: #b30000;
$darkred: rgb(129, 35, 35);
$lightblue: #90dffe;
$blue: #38a3d1;
$midblue: #0f79be;

// Shades
$white: white;
$offwhite: #f4f4f4;
$lightgrey: lightgrey;
$grey: grey;
// $midgrey: #828190;
$darkgrey: rgb(64, 64, 64);
$black: black;