@import "./colors.scss";

%flexcontainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  margin-bottom: 0.5rem;
}

.warning-message {
  color: $midred;
}

.search-form {
  width: 100%;
  position: relative;
}

.search-bar {
  @extend %flexcontainer;

  label {
    visibility: hidden;
    width: 0
  }

  input {
    font-size: 1.25rem;
    padding: 0.25rem;
    box-sizing: border-box;
    border-radius: 0.25rem;
    border-width: 0;
    max-width: 84%;
    flex-basis: 84%;
  }

  .search-button {
    max-width: 12%;
    flex-basis: 12%;
    margin-left: 0.25rem;
    cursor: pointer;

    @media screen and (min-width: 768px){
      font-size: 1.25rem;
    }
  }
}
