h1 {
  font-family: 'Rubik Bubbles';
  font-size: 2.5rem;
  text-align: center;
  color: white;
  -webkit-text-stroke: 1px grey;
}

@media screen and (min-width: 768px){
  h1 {
    font-size: 4rem;
  }
}

body, p, label, input {
  font-family: 'Open Sans';
}

body {
  background: linear-gradient(to bottom, #90dffe 0%,#38a3d1 100%);
  height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 2rem;
}


.location, .forecast {
  margin-top: 1rem;
  position: relative;
  background-color: white;
  border: 1px solid grey;
  border-radius: 0.25rem;
  padding: 0.5rem;
}