h1 {
  font-family: 'Rubik Bubbles';
  font-size: 2.5rem;
  text-align: center;
  color: white;
  -webkit-text-stroke: 1px grey;
}

.warning-message {
  color: #b30000;
}

@media screen and (min-width: 768px){
  h1 {
    font-size: 4rem;
  }
}

body, p, label, input {
  font-family: 'Open Sans';
}

body {
  background: linear-gradient(to bottom, #90dffe 0%,#38a3d1 100%);
  height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 2rem;
}

.search-form {
  width: 100%;
  position: relative;
}

.search-bar,
.search-settings {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  margin-bottom: 0.5rem;
}

.search-bar label {
  /* padding: 0.5rem 0; */
  visibility: hidden;
  width: 0
}

.search-bar input {
  font-size: 1.25rem;
  padding: 0.25rem;
  box-sizing: border-box;
  border-radius: 0.25rem;
  border-width: 0;
  max-width: 84%;
  flex-basis: 84%;
}

.search-bar .search-button {
  max-width: 12%;
  flex-basis: 12%;
  margin-left: 0.25rem;
  cursor: pointer;
}

.search-bar .search-button,
.toggle-button {
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  padding: 0.5rem;
  box-sizing: border-box;
  border-radius: 0.25rem;
  border-width: 0;
  background: rgb(217, 86, 86);
  transition: background-color 0.25s;
  color: white;
}

.toggle-button:hover,
.toggle-button.active,
.search-bar .search-button:hover {
  background: rgb(129, 35, 35);
}


.search-settings {
  flex-direction: column;
}

.search-settings > label {
  margin-top: 0.5rem;
}

.search-settings .forecast-period {
  display: grid;
  grid-template-columns: 2rem auto;
  gap: 0.5rem;
  align-items: center;
  margin-top: 0.5rem
}

.search-settings .forecast-period input {
  margin: 0.5rem 0;
}

/*
TODO:

include drive time checkbox
*/

.location,
.forecast {
  margin-top: 1rem;
}

@media screen and (min-width: 768px){
  .search-bar .search-button {
    font-size: 1.25rem;
  }
}

.location {
  position: relative;
  background-color: white;
  border: 1px solid grey;
  border-radius: 0.25rem;
  padding: 0.5rem;
  
}

.location .toggle-button {
  position: absolute;
  top: 0;
  left: calc(-2rem - 5px);
  width: 2rem;
  height: 2rem;
  padding: 0.25rem
}

.location .basics{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.location .details{
  margin-top: 1rem;
}
